body{
   font-family: monospace;font-size: 25px;
}

    .pai_a{
        background-color: orange;height: 500px;width: 500px;
    }
    .paib{
        background-color: lightgreen;height: 250px;width: 250px;
    }
    .filhob{
        background-color: red;
    }